<!DOCTYPE html>

<html>
<head>
  <title>Lacuna Demo</title>

  <link rel="stylesheet" type="text/css" href="semantic/public/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="css/tooltip-theme-arrows.css">
  <link rel="stylesheet" type="text/css" href="css/drop-theme-basic.css">

  <style type="text/css">

    body {
      overflow: hidden;
    }

    /* Stop tooltips from hding behind anything. */
    .tooltip {
      z-index: 9999999999;
    }

    #main {
      position: fixed;
      width: 100vw;
      height: 100vh;
      padding: 15px;
    }

    #top-menu, #bottom-menu {
      position: fixed;
      margin: 0;
      z-index: 1000;
    }

    #sidebar-button {
      position: fixed;
      z-index: 1000;
    }

    /* This makes the menu only as wide as it's content instead of being fluid */
    #top-menu {
      width: auto;
      display: inline-block;
      height: auto;
    }

    #bottom-menu {
      bottom: 15px;
    }

    #buildings-container {

      /* Take up the entire screen. */
      top: 0;
      left: 0;
      position: absolute;
      width: 100vw;
      height: 100vh;

      background-image: url('http://d16cbq0l6kkf21.cloudfront.net/assets/planet_side/surface-p35.jpg');
      background-repeat: repeat;
    }

    .building {
      color: #ffffff;
      cursor: pointer;
      position: absolute;
    }

    .building:hover {
      border: 1px dashed #ffffff;
      margin: -1px;
    }

    .building-level {

      font-size: 2em;

      /* Horizontal and vertical centering. */
      text-align: center;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      /* Hide until mouse over. */
      visibility: hidden;
    }

    .building:hover div.building-level {
      visibility: visible;
    }

  </style>
</head>
<body>

  <script type="text/javascript">
    // This message is just a precaution to make sure people know what the deal with this is.
    if (window.location.href.indexOf('github') > -1) {
      var arr = [
        'Hello!',
        '',
        'This is a PROTOTYPE and is not final in any way shape or form.',
        "If there's something you don't like here, mail me (1vasari) in game.",
        '',
        'Peace. :)'
      ];
      alert(arr.join('\n'));
    }
  </script>

  <!-- Side bar -->
  <div class="ui left vertical inverted sidebar menu">

    <!--
      ===========
      == Links ==
      ===========
    -->
    <div class="ui horizontal inverted divider">
      Links
    </div>
    <a class="item">
      <i class="rocket icon"></i>
      About
    </a>
    <a class="item" target="_blank" href="http://us1.lacunaexpanse.com/starmap/">
      <i class="map icon"></i>
      Alliance Map
    </a>
    <a class="item" target="_blank" href="http://us1.lacunaexpanse.com/changes.txt">
      <i class="code icon"></i>
      Changes Log
    </a>
    <a class="item" target="_blank" href="http://community.lacunaexpanse.com/forums">
      <i class="comments layout icon"></i>
      Forums
    </a>
    <a class="item" target="_blank" href="http://www.lacunaexpanse.com/help/">
      <i class="student icon"></i>
      Help
    </a>
    <a class="item">
      <i class="add user icon"></i>
      Invite a Friend
    </a>
    <a class="item">
      <i class="options icon"></i>
      Options
    </a>
    <!--  TODO: implement this! -->
    <a class="item">
      <i class="wait icon"></i>
      Server Clock
    </a>
    <a class="item" target="_blank" href="http://www.lacunaexpanse.com/terms/">
      <i class="info circle icon"></i>
      Terms of Service
    </a>
    <a class="item" target="_blank" href="http://lacunaexpanse.com/tutorial/">
      <i class="marker icon"></i>
      Tutorial
    </a>
    <a class="item" target="_blank" href="http://community.lacunaexpanse.com/wiki">
      <i class="share alternate icon"></i>
      Wiki
    </a>

    <!--
      ==============
      == Colonies ==
      ==============
    -->
    <div class="ui horizontal inverted divider">
      Colonies
    </div>
    <a class="item">
      Tatooine
    </a>
    <a class="item">
      Alderaan
    </a>

    <!--
      ==============
      == Stations ==
      ==============
    -->
    <div class="ui horizontal inverted divider">
      Stations
    </div>
    <a class="item">
      The Death Star
    </a>
    <a class="item">
      Rebel Base
    </a>
  </div>

  <div class="pusher">

    <!-- This is the main content of the page. -->
    <div id="main" class="ui segment">

      <div class="ui blue big fixed icon button" id="sidebar-button">
        <i class="content icon"></i>
      </div>

      <div class="ui blue inverted menu" id="top-menu">
        <a class="item" data-tooltip-position="bottom center" data-tooltip="Star Map">
          <i class="map big icon"></i>
        </a>
        <a class="item" data-tooltip-position="bottom center" data-tooltip="Mail">
          <i class="mail big icon"></i>
          <div class="ui red circular label">69</div>
        </a>
        <a class="item" data-tooltip-position="bottom center" data-tooltip="Essentia">
          <i class="money big icon"></i>
          <div class="ui red floated right circular label">12 345</div>
        </a>
        <a class="item" data-tooltip-position="bottom center" data-tooltip="Activate Self Destruct">
          <i class="bomb big icon"></i>
        </a>
        <a class="item" data-tooltip-position="bottom center" data-tooltip="Universe Rankings">
          <i class="find big icon"></i>
        </a>
        <a class="item" data-tooltip-position="bottom center" data-tooltip="Sign Out">
          <i class="sign out big icon"></i>
        </a>
      </div>


      <div class="ui blue inverted icon menu" id="bottom-menu">

        <!-- Food -->
        <div class="item" id="foodItem">
          <i class="food big icon"></i>
          1.5 B / hr
          <div class="ui red floating circular label">5&nbsp;B</div>
          <div class="ui bottom attached yellow progress" id="foodProgress">
            <div class="bar"></div>
          </div>
        </div>

        <!-- Ore -->
        <div class="item">
          <i class="diamond big icon"></i>
          1.5 B / hr
          <div class="ui red floating circular label">10&nbsp;B</div>
          <div class="ui bottom attached yellow progress" id="oreProgress">
            <div class="bar"></div>
          </div>
        </div>

        <!-- Water -->
        <div class="item">
          <i class="theme big icon"></i>
          1.5 B / hr
          <div class="ui red floating circular label">15&nbsp;B</div>
          <div class="ui bottom attached yellow progress" id="waterProgress">
            <div class="bar"></div>
          </div>
        </div>

        <!-- Energy -->
        <div class="item">
          <i class="lightning big icon"></i>
          1.5 B / hr
          <div class="ui red floating circular label">20&nbsp;B</div>
          <div class="ui bottom attached yellow progress" id="energyProgress">
            <div class="bar"></div>
          </div>
        </div>

        <!-- Trash -->
        <div class="item">
          <i class="trash big icon"></i>
          750 M / hr
          <div class="ui red floating circular label">20&nbsp;B</div>
          <div class="ui bottom attached yellow progress" id="trashProgress">
            <div class="bar"></div>
          </div>
        </div>

        <!-- Happiness -->
        <div class="item">
          <i class="smile big icon"></i>
          100 B / hr
          <div class="ui red floating circular label">250&nbsp;T</div>
        </div>

        <!-- Plots -->
        <div class="item">
          <i class="block layout big icon"></i>
          60 Buildings
          <div class="ui red floating circular label">10</div>
        </div>
      </div>

      <!-- Buildings view -->
      <div id="buildings-container">
        <div id="buildings-draggable"></div>
      </div>

    </div>
  </div>

</body>

<!-- Templates -->
<script id="template-building-tile" type="text/template">
  <div class="building" style="
    width: <%= size %>px;
    height: <%= size %>px;

    top: <%= ((parseInt(y, 10) - 5) * size * -1) %>px;
    left: <%= ((parseInt(x, 10) + 5) * size) %>px;

    <% if (!empty) { %>
      background-image: url(
        <%= window.assetsUrl + '/planet_side/' + size + '/' + image + '.png' %>
      );
    <% } %>
  ">
    <% if (empty) { %>
      <div class="building-level">
        <i class="configure large icon"></i>
      </div>
    <% } else { %>
      <div class="building-level">
        <%= level %>
      </div>
    <% } %>
  </div>
</script>

<script type="text/javascript"
  src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js"></script>

<script type="text/javascript" src="js/tooltip.js"></script>

<script type="text/javascript" src="semantic/public/semantic.min.js"></script>

<script type="text/javascript">

$(document).ready(function() {


  /////////////
  // Globals //
  /////////////

  window.assetsUrl = '//d16cbq0l6kkf21.cloudfront.net/assets';

  ///////////
  // Menus //
  ///////////

  // This chunk of code will center the top and bottom menus. Sadly, Semantic UI doesn't support
  // this, so we have to use an ugly hack, instead. :/

  var docWidth = $(document.body).width();
  var padding = parseInt($('#main').css('padding-left'), 10);
  var topWidth = $('#top-menu').width() - padding;
  var bottomWidth = $('#bottom-menu').width() - padding;

  var topLeftVal = (docWidth - topWidth) / 2;
  var bottomLeftVal = (docWidth - bottomWidth) / 2;

  $('#top-menu').css('left', topLeftVal);
  $('#bottom-menu').css('left', bottomLeftVal);

  /////////////
  // Sidebar //
  /////////////

  $('#sidebar-button').click(function() {
    $('.ui.sidebar').sidebar('toggle');
  });


  //////////
  // Food //
  //////////

  $('#foodProgress').progress({
    percent: 25
  });


  /////////
  // Ore //
  /////////

  $('#oreProgress').progress({
    percent: 50
  });


  ///////////
  // Water //
  ///////////

  $('#waterProgress').progress({
    percent: 75
  });


  ////////////
  // Energy //
  ////////////

  $('#energyProgress').progress({
    percent: 100
  });


  ////////////
  // Trash //
  ////////////

  $('#trashProgress').progress({
    percent: 100
  });


  ///////////////
  // Buildings //
  ///////////////

  // This is the data the server returns when `get_buildings` is called.
  var buildings = {
    "4965708": {
      "efficiency" : "100",
      "name" : "Black Hole Generator",
      "work": {
        "seconds_remaining":628293,
        "end" : "04 05 2015 06:32:40 +0000",
        "start" : "14 04 2015 06:32:40 +0000"
      },
      "x" : "-3",
      "image" : "blackholegenerator1",
      "y" : "5",
      "level" : "30",
      "url" : "/blackholegenerator"
    },
    "4942253": {
      "y" : "1",
      "efficiency" : "100",
      "level" : "1",
      "name" : "Water Storage Tank",
      "url" : "/waterstorage",
      "x" : "3",
      "image" : "waterstorage1"
    },
    "4965699": {
      "y" : "5",
      "efficiency" : "100",
      "level" : "30",
      "name" : "Pyramid Junk Sculpture",
      "url" : "/pyramidjunksculpture",
      "x" : "-2",
      "image" : "pyramidjunksculpture1"
    },
    "4943197": {
      "y" : "1",
      "efficiency" : "100",
      "level" : "13",
      "name" : "Intelligence Ministry",
      "url" : "/intelligence",
      "x" : "-1",
      "image" : "intelligence9"
    },
    "4979713": {
      "y" : "0",
      "efficiency" : "100",
      "level" : "1",
      "name" : "Shield Against Weapons",
      "url" : "/saw",
      "x" : "3",
      "image" : "saw1"
    },
    "4944689": {
      "y" : "-1",
      "efficiency" : "100",
      "level" : "12",
      "name" : "Space Port",
      "url" : "/spaceport",
      "x" : "-5",
      "image" : "spaceport9"
    },
    "4943183": {
      "y" : "-1",
      "efficiency" : "100",
      "level" : "25",
      "name" : "Space Port",
      "url" : "/spaceport",
      "x" : "0",
      "image" : "spaceport9"
    },
    "4979712": {
      "y" : "0",
      "efficiency" : "100",
      "level" : "1",
      "name" : "Shield Against Weapons",
      "url" : "/saw",
      "x" : "2",
      "image" : "saw1"
    },
    "4944680": {
      "y" : "5",
      "efficiency" : "100",
      "level" : "30",
      "name" : "Interdimensional Rift",
      "url" : "/interdimensionalrift",
      "x" : "0",
      "image" : "interdimensionalrift1"
    },
    "4942254": {
      "y" : "1",
      "efficiency" : "100",
      "level" : "1",
      "name" : "Energy Reserve",
      "url" : "/energyreserve",
      "x" : "4",
      "image" : "energy-reserve1"
    },
    "4943184": {
      "y" : "0",
      "efficiency" : "100",
      "level" : "23",
      "name" : "Shipyard",
      "url" : "/shipyard",
      "x" : "-3",
      "image" : "shipyard9"
    },
    "4944683": {
      "y" : "5",
      "efficiency" : "100",
      "level" : "30",
      "name" : "Crashed Ship Site",
      "url" : "/crashedshipsite",
      "x" : "-4",
      "image" : "crashedshipsite1"
    },
    "4948857": {
      "efficiency" : "100",
      "name" : "Propulsion System Factory",
      "pending_build": {
        "seconds_remaining":1410,
        "end" : "27 04 2015 00:24:37 +0000",
        "start" : "25 04 2015 21:27:14 +0000"
      },
      "x" : "-5",
      "image" : "propulsion9",
      "y" : "0",
      "level" : "18",
      "url" : "/propulsion"
    },
    "4944213": {
      "y" : "2",
      "efficiency" : "100",
      "level" : "30",
      "name" : "Archaeology Ministry",
      "url" : "/archaeology",
      "x" : "0",
      "image" : "archaeology9"
    },
    "4943640": {
      "y" : "5",
      "efficiency" : "100",
      "level" : "30",
      "name" : "Geo Thermal Vent",
      "url" : "/geothermalvent",
      "x" : "5",
      "image" : "geothermalvent1"
    },
    "4968807": {
      "y" : "2",
      "efficiency" : "100",
      "level" : "1",
      "name" : "Entertainment District",
      "url" : "/entertainment",
      "x" : "1",
      "image" : "entertainment1"
    },
    "4975914": {
      "y" : "-2",
      "efficiency" : "100",
      "level" : "2",
      "name" : "Space Port",
      "url" : "/spaceport",
      "x" : "-1",
      "image" : "spaceport2"
    },
    "4976222": {
      "y" : "-2",
      "efficiency" : "100",
      "level" : "2",
      "name" : "Space Port",
      "url" : "/spaceport",
      "x" : "-3",
      "image" : "spaceport2"
    },
    "4948858": {
      "efficiency" : "100",
      "name" : "Pilot Training Facility",
      "pending_build": {
        "seconds_remaining":23957,
        "end" : "27 04 2015 06:40:24 +0000",
        "start" : "25 04 2015 21:27:18 +0000"
      },
      "x" : "-5",
      "image" : "pilottraining9",
      "y" : "1",
      "level" : "18",
      "url" : "/pilottraining"
    },
    "4943281": {
      "y" : "1",
      "efficiency" : "100",
      "level" : "5",
      "name" : "Observatory",
      "url" : "/observatory",
      "x" : "-2",
      "image" : "observatory5"
    },
    "4942247": {
      "y" : "1",
      "efficiency" : "100",
      "level" : "30",
      "name" : "University",
      "url" : "/university",
      "x" : "0",
      "image" : "university9"
    },
    "4944685": {
      "y" : "-1",
      "efficiency" : "100",
      "level" : "12",
      "name" : "Space Port",
      "url" : "/spaceport",
      "x" : "-1",
      "image" : "spaceport9"
    },
    "4944198": {
      "efficiency" : "100",
      "name" : "Trade Ministry",
      "pending_build": {
        "seconds_remaining":39234,
        "end" : "27 04 2015 10:55:01 +0000",
        "start" : "25 04 2015 21:27:32 +0000"
      },
      "x" : "-4",
      "image" : "trade9",
      "y" : "1",
      "level" : "14",
      "url" : "/trade"
    },
    "4943639": {
      "y" : "5",
      "efficiency" : "100",
      "level" : "30",
      "name" : "Natural Spring",
      "url" : "/naturalspring",
      "x" : "4",
      "image" : "naturalspring1"
    },
    "4944677": {
      "y" : "2",
      "efficiency" : "100",
      "level" : "20",
      "name" : "Development Ministry",
      "url" : "/development",
      "x" : "-1",
      "image" : "devel9"
    },
    "4979716": {
      "y" : "0",
      "efficiency" : "100",
      "level" : "1",
      "name" : "Shield Against Weapons",
      "url" : "/saw",
      "x" : "5",
      "image" : "saw1"
    },
    "4979714": {
      "y" : "0",
      "efficiency" : "100",
      "level" : "1",
      "name" : "Shield Against Weapons",
      "url" : "/saw",
      "x" : "4",
      "image" : "saw1"
    },
    "4943633": {
      "y" : "5",
      "efficiency" : "100",
      "level" : "30",
      "name" : "Volcano",
      "url" : "/volcano",
      "x" : "3",
      "image" : "volcano1"
    },
    "4944687": {
      "y" : "-1",
      "efficiency" : "100",
      "level" : "12",
      "name" : "Space Port",
      "url" : "/spaceport",
      "x" : "-3",
      "image" : "spaceport9"
    },
    "4976223": {
      "y" : "-2",
      "efficiency" : "100",
      "level" : "2",
      "name" : "Space Port",
      "url" : "/spaceport",
      "x" : "-4",
      "image" : "spaceport2"
    },
    "4944678": {
      "y" : "2",
      "efficiency" : "100",
      "level" : "30",
      "name" : "Oversight Ministry",
      "url" : "/oversight",
      "x" : "-2",
      "image" : "oversight9"
    },
    "4944681": {
      "y" : "5",
      "efficiency" : "100",
      "level" : "30",
      "name" : "Kalavian Ruins",
      "url" : "/kalavianruins",
      "x" : "-1",
      "image" : "kalavianruins1"
    },
    "4965620": {
      "y" : "2",
      "efficiency" : "100",
      "level" : "1",
      "name" : "Capitol",
      "url" : "/capitol",
      "x" : "-3",
      "image" : "capitol1"
    },
    "4942251": {
      "y" : "1",
      "efficiency" : "100",
      "level" : "1",
      "name" : "Food Reserve",
      "url" : "/foodreserve",
      "x" : "1",
      "image" : "food-reserve1"
    },
    "4942249": {
      "y" : "0",
      "efficiency" : "100",
      "level" : "1",
      "name" : "Mission Command",
      "url" : "/missioncommand",
      "x" : "-1",
      "image" : "missioncommand1"
    },
    "4942219": {
      "y" : "0",
      "efficiency" : "100",
      "level" : "12",
      "name" : "Planetary Command Center",
      "url" : "/planetarycommand",
      "x" : "0",
      "image" : "command9"
    },
    "4976350": {
      "y" : "-2",
      "efficiency" : "100",
      "level" : "2",
      "name" : "Space Port",
      "url" : "/spaceport",
      "x" : "-5",
      "image" : "spaceport2"
    },
    "4942283": {
      "y" : "0",
      "efficiency" : "100",
      "level" : "1",
      "name" : "Network 19 Affiliate",
      "url" : "/network19",
      "x" : "-2",
      "image" : "network191"
    },
    "4970232": {
      "efficiency" : "100",
      "name" : "Munitions Lab",
      "pending_build": {
        "seconds_remaining":40368,
        "end" : "27 04 2015 11:13:55 +0000",
        "start" : "25 04 2015 21:27:36 +0000"
      },
      "x" : "-4",
      "image" : "munitionslab6",
      "y" : "3",
      "level" : "6",
      "url" : "/munitionslab"
    },
    "4943631": {
      "y" : "5",
      "efficiency" : "100",
      "level" : "30",
      "name" : "Malcud Field",
      "url" : "/malcudfield",
      "x" : "2",
      "image" : "malcudfield1"
    },
    "4970063": {
      "efficiency" : "100",
      "name" : "Espionage Ministry",
      "pending_build": {
        "seconds_remaining":41236,
        "end" : "27 04 2015 11:28:23 +0000",
        "start" : "25 04 2015 21:27:39 +0000"
      },
      "x" : "-5",
      "image" : "espionage7",
      "y" : "3",
      "level" : "7",
      "url" : "/espionage"
    },
    "4968550": {
      "efficiency" : "100",
      "name" : "Cloaking Lab",
      "pending_build": {
        "seconds_remaining":27542,
        "end" : "27 04 2015 07:40:09 +0000",
        "start" : "25 04 2015 21:27:22 +0000"
      },
      "x" : "-5",
      "image" : "cloakinglab9",
      "y" : "2",
      "level" : "9",
      "url" : "/cloakinglab"
    },
    "4944686": {
      "y" : "-1",
      "efficiency" : "100",
      "level" : "12",
      "name" : "Space Port",
      "url" : "/spaceport",
      "x" : "-2",
      "image" : "spaceport9"
    },
    "4976221": {
      "y" : "-2",
      "efficiency" : "100",
      "level" : "2",
      "name" : "Space Port",
      "url" : "/spaceport",
      "x" : "-2",
      "image" : "spaceport2"
    },
    "4975891": {
      "y" : "-2",
      "efficiency" : "100",
      "level" : "2",
      "name" : "Space Port",
      "url" : "/spaceport",
      "x" : "0",
      "image" : "spaceport2"
    },
    "4979711": {
      "y" : "0",
      "efficiency" : "100",
      "level" : "1",
      "name" : "Shield Against Weapons",
      "url" : "/saw",
      "x" : "1",
      "image" : "saw1"
    },
    "4966153": {
      "efficiency" : "100",
      "name" : "Security Ministry",
      "pending_build": {
        "seconds_remaining":33388,
        "end" : "27 04 2015 09:17:35 +0000",
        "start" : "25 04 2015 21:27:27 +0000"
      },
      "x" : "-4",
      "image" : "security9",
      "y" : "2",
      "level" : "14",
      "url" : "/security"
    },
    "4944684": {
      "efficiency" : "100",
      "name" : "Shipyard",
      "pending_build": {
        "seconds_remaining":61476,
        "end" : "27 04 2015 17:05:43 +0000",
        "start" : "26 04 2015 01:30:51 +0000"
      },
      "x" : "-4",
      "image" : "shipyard9",
      "y" : "0",
      "level" : "22",
      "url" : "/shipyard"
    },
    "4942252": {
      "y" : "1",
      "efficiency" : "100",
      "level" : "1",
      "name" : "Ore Storage Tanks",
      "url" : "/orestorage",
      "x" : "2",
      "image" : "orestorage1"
    },
    "4944688": {
      "y" : "-1",
      "efficiency" : "100",
      "level" : "12",
      "name" : "Space Port",
      "url" : "/spaceport",
      "x" : "-4",
      "image" : "spaceport9"
    },
    "4947856": {
      "y" : "5",
      "efficiency" : "100",
      "level" : "30",
      "name" : "Oracle of Anid",
      "url" : "/oracleofanid",
      "x" : "1",
      "image" : "oracleanid1"
    },
    "4943604": {
      "y" : "1",
      "efficiency" : "100",
      "level" : "4",
      "name" : "Subspace Transporter",
      "url" : "/transporter",
      "x" : "-3",
      "image" : "transporter4"
    }
  };

  // Put all this into HTML.
  var buildingTmpl = _.template($('#template-building-tile').html());

  var $buildingsEl = $('#buildings-draggable');
  var range = _.range(-5, 6);
  var size = 100;

  _.each(range, function(x) {
    _.each(range, function(y) {

      // Find by x and y.
      var building = _.first(_.filter(buildings, function(obj) {
        return parseInt(obj.x, 10) === x && parseInt(obj.y, 10) === y;
      }));

      var obj = {
        size: size,
        x: x,
        y: y,
        empty: (building ? false : true)
      };

      _.merge(obj, building);
      $buildingsEl.append(buildingTmpl(obj));

    });
  });

  var $body = $(document.body);
  var $draggable = $('#buildings-draggable');
  var planetSize = size * 11;

  // Center the planet view
  $draggable.css({
    top: ($body.height() - planetSize) / 2,
    left: ($body.width() - planetSize) / 2
  });

  $draggable.draggable({
    drag: function(event, ui) {
      // Move the background around according to the movement of the buildings.
      $('#buildings-container').css(
        'background-position', ui.offset.left + 'px ' + ui.offset.top + 'px');
    }
  });
});

</script>

</html>
