<!DOCTYPE html>

<html>
<head>
  <title>Lacuna Demo</title>

  <link rel="stylesheet" type="text/css" href="semantic/public/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

  <script type="text/javascript">
    // This message is just a precaution to make sure people know what the deal with this is.
    if (window.location.href.indexOf('github') > -1) {
      var arr = [
        'Hello!',
        '',
        "This is a PROTOTYPE and is not final in any way shape or form. If there's something you don't like or want changed here, mail me (1vasari) in game.",
        '',
        'Peace. :)'
      ];
      alert(arr.join('\n'));
    }
  </script>


  <!--
    ==================
    == LEFT SIDEBAR ==
    ==================
  -->

  <div class="ui left vertical inverted sidebar menu">


    <!--
      ===========
      == Links ==
      ===========
    -->
    <div class="ui horizontal inverted divider">
      Links
    </div>
    <a class="item">
      <i class="rocket icon"></i>
      About
    </a>
    <a class="item" target="_blank" href="http://us1.lacunaexpanse.com/starmap/">
      <i class="map icon"></i>
      Alliance Map
    </a>
    <a class="item" target="_blank" href="http://us1.lacunaexpanse.com/changes.txt">
      <i class="code icon"></i>
      Changes Log
    </a>
    <a class="item" target="_blank" href="http://community.lacunaexpanse.com/forums">
      <i class="comments layout icon"></i>
      Forums
    </a>
    <a class="item" target="_blank" href="http://www.lacunaexpanse.com/help/">
      <i class="student icon"></i>
      Help
    </a>
    <a class="item">
      <i class="add user icon"></i>
      Invite a Friend
    </a>
    <a class="item">
      <i class="options icon"></i>
      Options
    </a>
    <!--  TODO: implement this! -->
    <a class="item">
      <i class="wait icon"></i>
      Server Clock
    </a>
    <a class="item" target="_blank" href="http://www.lacunaexpanse.com/terms/">
      <i class="info circle icon"></i>
      Terms of Service
    </a>
    <a class="item" target="_blank" href="http://lacunaexpanse.com/tutorial/">
      <i class="marker icon"></i>
      Tutorial
    </a>
    <a class="item" target="_blank" href="http://community.lacunaexpanse.com/wiki">
      <i class="share alternate icon"></i>
      Wiki
    </a>
  </div>


  <!--
    ===================
    == RIGHT SIDEBAR ==
    ===================
  -->

  <div class="ui right vertical inverted sidebar menu">

    <!--
      ==============
      == Colonies ==
      ==============
    -->
    <div class="ui horizontal inverted divider">
      Colonies
    </div>
    <a class="item">
      Tatooine
    </a>
    <a class="item">
      Alderaan
    </a>

    <!--
      ==============
      == Stations ==
      ==============
    -->
    <div class="ui horizontal inverted divider">
      Stations
    </div>
    <a class="item">
      The Death Star
    </a>
    <a class="item">
      Rebel Base
    </a>
  </div>

  <div class="pusher">

    <!-- This is the main content of the page. -->
    <div id="main" class="ui segment">

      <div class="ui blue big icon button" id="left-sidebar-button">
        <i class="content icon"></i>
      </div>

      <div class="ui blue big icon button" id="right-sidebar-button">
        <i class="world icon"></i>
      </div>

      <div class="ui blue inverted menu" id="top-menu">
        <a class="item" data-content="Star Map">
          <i class="map big icon"></i>
        </a>
        <a class="item" data-content="Mail">
          <i class="mail big icon"></i>
          <div class="ui yellow circular label">69</div>
        </a>
        <a class="item" data-content="Essentia">
          <i class="money big icon"></i>
          <div class="ui teal floated right circular label">12 345</div>
        </a>
        <a class="item" data-content="Activate Self Destruct">
          <i class="bomb big icon"></i>
        </a>
        <a class="item" data-content="Universe Rankings">
          <i class="find big icon"></i>
        </a>
        <a class="item" data-content="Sign Out">
          <i class="power big icon"></i>
        </a>
      </div>


      <div class="ui blue inverted icon menu" id="bottom-menu">

        <!-- Food -->
        <div class="item" id="foodItem">
          <i class="food big icon"></i>
          <p>
            5 B / 20 B
          </p>
          1.5 B / hr
        </div>

        <!-- Ore -->
        <div class="item">
          <i class="diamond big icon"></i>
          <p>
            10 B / 20 B
          </p>
          1.5 B / hr
        </div>

        <!-- Water -->
        <div class="item">
          <i class="theme big icon"></i>
          <p>
            15 B / 20 B
          </p>
          1.5 B / hr
        </div>

        <!-- Energy -->
        <div class="item">
          <i class="lightning big icon"></i>
          <p>
            20 B / 20 B
          </p>
          1.5 B / hr
        </div>

        <!-- Trash -->
        <div class="item">
          <i class="trash big icon"></i>
          <p>
            20 B / 20 B
          </p>
          750 M / hr
        </div>

        <!-- Happiness -->
        <div class="item">
          <i class="smile big icon"></i>
          <p>
            250 T
          </p>
          100 B / hr
        </div>

        <!-- Plots -->
        <div class="item">
          <i class="block layout big icon"></i>
          <p>
            60 / 70 Plots
          </p>
          11 / 21 Building
        </div>
      </div>

      <!-- Buildings view -->
      <div id="buildings-container">
        <div id="buildings-draggable"></div>
      </div>

    </div>
  </div>

</body>

<!-- Templates -->
<script id="template-building-tile" type="text/template">
  <div class="building" style="
    width: <%= size %>px;
    height: <%= size %>px;

    top: <%= ((parseInt(y, 10) - 5) * size * -1) %>px;
    left: <%= ((parseInt(x, 10) + 5) * size) %>px;

    <% if (!empty) { %>
      background-image: url(
        <%= window.assetsUrl + '/planet_side/' + size + '/' + image + '.png' %>
      );
    <% } %>
  ">
    <% if (empty) { %>
      <div class="building-level">
        <i class="configure large icon"></i>
      </div>
    <% } else { %>
      <div class="building-level">
        <%= level %>
      </div>
    <% } %>
  </div>
</script>

<script type="text/javascript"
  src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js"></script>

<script type="text/javascript" src="semantic/public/semantic.min.js"></script>

<script type="text/javascript" src="data.js"></script>
<script type="text/javascript" src="main.js"></script>

</html>
